body,ul,li,h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: normal;
}
body {
	font-family: "microsoft yahei";
}
ul li{
	list-style: none;	
		
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	display: block;
}
.relative {
	position: relative;
}
.clearfix {
	clear: both;
}
.f-l {
	float: left;
}
.f-r {
	float: right;
}